.sec5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    gap: 50px;
    padding-top: 50px;
}
.sec-5-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-5-1 >:nth-child(1){
    font-weight: 600;
}
.sec-5-2{
    display: flex;
    gap: 30px;
    border: 2px solid black;
    padding: 30px;
    border-radius: 30px;
}
.a1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.a2{
    display: flex;
    align-items: center;
    gap: 10px;
}
.a1 i,.a2 i{
    font-size: 25px;
}

.a1 span,.a2 span{
    font-weight: 600;
}
@media(max-width:767px){
.sec-5-2{
    
    gap: 20px;
    
    padding: 10px;
}
}