@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
html{
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
}

a:hover {
  color: darkorange;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: darkorange;

}

.navbar {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 100px;
}

.logo {
  width: 40%;
  font-size: 40px;
  font-weight: 600;
  color: darkorange;
}

.menu-bar {
  width: 60%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.menu-bar li {
  font-size: 20px;
}

.navbar-menu {
  display: none;
}
.sec2,.sec3,.sec4,.sec6{
  position: relative;
}
.arrow{
  position: absolute;
  right: 30px;
  bottom: 0;
}
.arrow i,.arrow2 i{
  font-size: 40px;
}
.arrow2{
  transform: rotate(180deg);
  position: absolute;
  right: 30px;
  bottom: 50px;
}

@media (min-width: 1025px){
  @keyframes appear {
  from{
opacity: 0;
transform: translateX(-200px);
  }
  to{
opacity: 1;
transform: translateX(0px);
  }
}

.sec1,.sec2,.sec3,.sec4,.sec5{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
}

@media (max-width: 1024px) {
  .navbar {
    display: none;
  }

  .navbar-menu {
    display: flex;
  }
  .hamburger{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    right: 30px;
    top: 20px;
    padding: 4px;
    z-index: 999;
  }
  .navbar-menu .logo{
    margin-top: 20px;
    padding-left: 30px;
  }
  .hamburger{
    font-size: 30px;
  }
  .navbar-menu .menu-bar{
    display: flex;
    flex-direction: column;
    background-color: darkorange;
    position: fixed;
    right: 0;
    top: 70px;
    padding: 10px;
    gap: 10px;
    margin-right: -650px;
    border-radius: 5px;
    transition: all 0.5s ease;
    z-index: 100;
  }
  .navbar-menu .menu-bar.show{
    margin-right: 0px;
  }
  .navbar-menu .menu-bar li a{
    display: block;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
  }
  .arrow{
    display: none;
  }
}

@media(max-width:767px){
  .logo{
    text-wrap: nowrap;
  }

  .navbar-menu .logo{
    margin-top: 25px;
    padding-left: 10px;
    font-size: 25px;
  }
}